/*variables*/
:root {
	--righteous-font: 'Righteous', cursive;
}

.modal-content {
	background-color: rgba(37, 78, 169, 0.84);
	color: white;
}

.icon {
	background-color: #007BFF;
	border: none;
	color: white;
	padding: 10px 10px;
	font-size: 12px;
	cursor: pointer;
}

.close {
	color:#ffffff;
}