/*variables*/
:root {
	--righteous-font: 'Righteous', cursive;
}

.scrollBox {
	height: 260px;
	overflow: auto;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px #7d7dff;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #7f9aea;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: RoyalBlue;
}