/*
 todoList style
*/


body {
	overflow: hidden;
}

#body {
	width: 100%;
	height: 100%;
}


/*variables*/
:root {
	--righteous-font: 'Righteous', cursive;
}


body {
	background-color: #0033cc;
	/*background-image: url("http://pctechtips.org/apps/todo/img/Chicago-Wallpaper-3.jpg");*/
	min-height: 100vh;
	z-index: -10;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	font-size: 1.3rem;
}

.hero {
	position: absolute;
	min-height: 100vh;
	min-width: 100vw;
	background-color: rgba(0, 0, 102, 0.7)
}

h1 {
	margin-top: 1rem;
	margin-bottom: 0px;
	padding-bottom: 0px;
	font-family: var(--righteous-font);
}

.lead {
	font-size: 1.5rem;
	font-family: var(--righteous-font);
}

ul {
	margin-top: 0.5rem;
	list-style: none;
}

li {
	border-bottom: 1px solid white;
	padding: 0.5rem 0 0.5rem 0;
	margin: 0 1rem 0 1rem;
}

.checkboxes {
	float: right;
	line-height: 15px;
	width: 17px;
	height: 17px;
	background-color: #e9ecef;
	border: 1px solid #e9ecef;
	border-radius: 3px;
}

.row {
	margin-top: 5px;
}

#editButton {
	background-color: #007BFF;
	border: none;
	color: white;
	padding: 6px 10px;
	font-size: 12px;
	cursor: pointer;
}

#editButton:hover {
	background-color: RoyalBlue;
}

